@import "../../style.scss";

.leftBar {

    @include mobile{
        display: none;
    }



    flex: 2;
    position: sticky;
    top: 50px;
    height: calc(100vh - 90px);
    overflow: scroll;
    &::-webkit-scrollbar{
        display: none;
    }
    background-color:white ;

    .container {
        padding: 20px;

        hr {
            margin: 20px 0px;
            border: none;
            height: 0.5px;
            background-color: lightgray;
        }

        .menu {
            display: flex;
            gap: 15px;
            flex-direction: column;






            .user {
                display: flex;
                align-items: center;
                gap: 5px;

                img {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    object-fit: cover;

                }

                span {
                    font-size: 14px;
                }

            }

            .item {
                display: flex;
                align-items: center;
                gap: 5px;

                img {
                    width: 30px;
                    height: 30px;
                    // border-radius: 50%;
                    object-fit: cover;

                }

                span {
                    margin: 5px 0px;
                    font-size: 14px;
                }









            }





        }
    }
}