.comment {

    display: flex;
    // justify-content: space-between;
    flex-direction: column;
    gap: 10px;

    .userItems {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 5px;

        .left {
            display: flex;
            align-items: center;
            gap: 5px;
            span {
                display: flex;

                font-weight: 500;
            }

        }

        .more {
          margin-right: 5px;

        }
    }


    .info {
        flex: 5;
        display: flex;
        flex-direction: column;
        gap: 3px;
        align-items: flex-start;

        img {
            align-self: start;
            width: auto;
            height: auto;
            max-width: 100%;
            max-height: 200px;
            border-radius: 4px;
            margin-bottom: 9px;
        }


        p {
            align-self: start;
            color: #020202;
        }

    }

    .date {
        margin-top: -16px;
        flex: 1;
        align-self: start;
        color: gray;
        font-size: 12px;
    }

    .inf {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 10px;

        .item {
            display: flex;
            align-items: center;
            gap: 5px;
            cursor: pointer;
            font-size: 12px;
        }
    }
}